@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: acme;
    src: url(fonts/Acme-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: Roboto,sans-serif;
}

header{
    text-align: center;
    padding: 17px;
    background-color: #44bba4;
    position: sticky ;
    top: 0;
    border: black #f2cc8f;
    z-index: 1000;
    border-radius:0 0 40px 40px  ;
    overflow: hidden;
}
header h1{
    color:#ff9f1c ;
    font-family: acme,sans-serif;
    font-size: 40px;
}
.circle1 {
    position: absolute;
    left :0px;
    top:60px;
    height: 10px ;
    width: 10%;
    opacity:100% ;
    background-color: #ff9f1c;
    border-radius: 20px;
    border: none;

}
.circle2{
    position: absolute;
    left :0px;
    top:60px;
    width: 3%;
    height: 10px ;
    opacity:100% ;
    background-color: #fff;
    border-radius: 20px;
    border: none;
}
header span{
    color:white;
    font-size:20px ;
}
header i {
    font-size:30px;
    color:#fff ;
}

ul{ 
    padding: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
ul li {
    font-family: acme,sans-serif;
    color: #41666f;
    background-color: white;
    border: #41666f solid ;
    border-radius: 0 40px;
    padding: 5px 20px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
li:first-of-type{
    background-color: #41666f;
    color: white;
}
li:hover{
    background-color: #41666f;
    color: white;
    box-shadow: 2px 2px 7px #41666f;
    transition: .3s ease-in-out;
    transform:translateY(2px)
}

section{
    padding: 20px;
    margin-top: 5px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    }

.card{
    display: flex;
    flex-direction: column;
    padding: 20px 10px ;
    align-items: center;
    gap: 20px;
    flex: 1 1 20% ;
    box-shadow: 0 0 7px black;
    background-color: #59c9b6;
    border-radius: 0 40px;
    position: relative;
    overflow: hidden;
    transition:.3s ease-in-out ;
}
div .promo{
    position: absolute;
    color:#ff9f1c;
    background-color: #ffffff81;
    padding: 5px;
    border-radius: 0 20px   20px 0;
    top: 30px;
    left:0;
    
}
.card:hover{
    box-shadow:2px 2px 12px #41666f , -2px -2px 12px #41666f; 
    transform: translateY(-5px);  
}

.card img{
    border-radius: 0 40px;
    cursor: pointer;
    align-self: center;
    transition: .5s ease-in-out;
    box-shadow: 5px 2px 7px #41666f83;
}

.card img:hover{
    transform: translateX(20px);
    box-shadow: -5px 2px 7px #00000065;
}

img:hover + h2{
   transform: translateX(-30px);
   box-shadow: 2px 3px 7px #00000065;
}


.card h2 {
    font-family: acme,Roboto,sans-serif ;
    color: white;
    transition: .5s ease-in-out;
    background-color:  #41666f41;
    padding: 10px 20px;
    border-radius: 0 40px;
    width: fit-content;
    box-shadow: -2px 3px 7px #00000065;
}
.card h2 span{
    color: #41666f;
    font-size: 20px;
    line-height: 34px;
    background-color: #ffffff79;
    border-radius: 30px;
    padding: 5px;
}
.card p {
    background-color:rgba(224, 255, 255, 0.171);
    padding: 15px;
    border-radius: 0 40px;
    color:#15120d;
    text-align: center;
}
.card p span{
    color: white;
    border-radius: 20px;
}

footer{
    background-color: #44bba343;
    text-align: center;
    padding: 5px;
    color: white;
}
footer p:hover{
    text-decoration: underline;
}
footer i{
    color:#ff9f1c ;
    font-size: 12px;
}
/* ------ Media Query ------ */

@media  screen and ( max-width:992px) {
    .card{
        flex: 0 0 45%;
        margin: auto;
    }
    ul {
        gap:5px;
    }
}

@media screen and (max-width:576px) {
    .card{
        flex: 1 2 100%;
    }
    ul {
        gap:0px;
    }
    
}
